language: node_js
node_js:
- 7
- 7.0
- 6
- 6.0
before_script:
- npm run lint
script:
- npm run test
after_success:
- npm run coverage
- npm install coveralls
- cat coverage/lcov.info | node_modules/coveralls/bin/coveralls.js
deploy:
  provider: npm
  skip_cleanup: true
  email: ivo.putzer@gmail.com
  api_key:
    secure: iWB9f6WbZQV+HkrqxYbQaw6kwmIN10BRX8VfoZqkTKyyws2T3vQ0cznqfAfM+UeMaErf7ki1KPeUtoFy8YfK/GA/LumieY9mXZLBPiSKavACNStRE6h2Lf64M1cJYIJuH2gnoMBWYji9mTqiyjg+c24mrYYMqp4Gqf+zw3vT1V/z9Dz1rxT2TBSB8+X6m2fp2M7XUC5Dn9i0zOxFef5B3A9yJQc96GhLhmLDqwfVqXAE8ZAXP7u4VnsT3wnPLviZXx50xqUo+NrFZqpWWohkzmWaHJoaNLWr32NPcsKO5aNCdiLaisFejhdXJ9JE81ReGbZxqoSdxo5bMfLu9TxeslYTo45HYzdZ5q9xYleSusyt7DnkgMJ4DIgRwBABK5+w4+5YbCUphIaBfpVu2gwaWXzZkLbS/nqI+v08AKVyIvA9Bza9RBk3d0zrCUgPmK0O0G07ZIiCrTsrh93kZ84MuPYsd9/pNi2ISkiouyjohITbXZsdpsxXDxDS6HAK4sDM6zZoB7ltTLgtLS97P5JHCVBNPKgSkhx03MvkleAWDnd8tocVzaYncM9o0Ea0FwNWtQX/tyLcNadZwFydq30iYiZGFKn5xz9VslVB7P2mbOMZpJM5MzRBuOtec8rymGTWDJStvmPPtjYKXhvCtQ5sQ2/XAc9hPc9WHsHZswvE6ZA=
  on:
    tags: false
    branch: master
    repo: ivoputzer/m.queue
